<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width= , initial-scale=1.0">
  <title>Checklist</title>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
</head>
<body>
  <div id="app">
    <h1>{{title}}</h1>
    <input type="text" v-model="message" />
    <button @click="ajouterNote" v-if=" message != '' ">ajouter</button>
    <p v-bind:title="message" v-for="todo in todos" :key="todo.id" @click="inverser">
      {{ todo.id }}
      {{ todo.value }}
    </p>
    <note v-for="todo in todos" v-bind:content="todo.value" ></note>
    <ajouter @nouvellenote="ajouterNote2"></ajouter>
  </div>
  <script>
    const vm = Vue.createApp({
      data(){
        return {
          title: 'Hello World !',
          message: uuidv4(),
          todos: [{ id:0, value: 'Foo' }, { id:1, value: 'Bar' }]
        }
      },
      methods:{
        inverser(){
          this.todos.reverse();
        },
        ajouterNote(){
          this.todos.push({
            id: (this.todos.length - 1) + 1,
            value: this.message
          }),
          this.message = uuidv4()
        },
        ajouterNote2(message){
          this.todos.push({
            id: (this.todos.length - 1) + 1,
            value: message
          })
        }
      }
    })

    vm.component('note', {
      props: ['content'],
      template: `<p>{{content}}</p>`
    })

    vm.component('ajouter', {
      props: [],
      emits: ['nouvellenote'],
      data(){
        return{
          message: 'Nouveau message'
        }
      },
      methods:{
        ajouterNote(){
          this.$emit('nouvellenote', this.message)
        }

      },
      template: `
        <input type="text" v-model="message" />
        <button @click="ajouterNote" v-if=" message != '' ">ajouter</button>
      `
    })
    
    vm.mount('#app');
  </script>
</body>
</html>